*{
    padding: 0;
    margin: 0;
}

body{

    font-family: Poppins;
    background-color: #f9fafb;

}


body::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #ffffff;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #ffffff;
}

body::-webkit-scrollbar-thumb
{
	/* border-radius: 20px; */
	background-color: #818181;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    /* height: 100vh; */
    
}



.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(44, 44, 44);
    align-items: center;
    width:100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.navbar h3{
    margin-left: 50px;
}

.links{
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.links h4{
    font-weight: 400;
    font-size: 14px;
}

.navbar h4{
    font-weight: 400;
    font-size: 14px;
}

.hamburger{
    display: none;
}

.text{
    margin-top: 80px;
    width:750px;
    text-align: center;
}

.text h1:nth-child(1){
    animation: item 0.8s;
}

.text h1{
    font-weight: 500;
    font-size: 25px;
    animation: item 0.8s;
}

.text p{
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    animation: item 0.8s;
}

.items{
    margin-top: 50px;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    animation: items 0.8s;

}

@keyframes items{
    from{opacity: 0;transform: translateY(60px);}
    to{opacity: 1;transform: translateY(0);}
}

.item{
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    width: 210px;
    position: relative;
    transition: 0.5s;
    
}

@keyframes item{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }

    

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.item:hover{
    transform: scale(1.1);
}

.item p{
    background-color: orange;
    color: #fff;
    position: absolute;
    top: 10px;
    height: 20px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    width:30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.items p i{
    font-size: 7.5px !important;
    margin-bottom: 2px;
}

.item img{
    width:140px;
}

.item h3{
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

.item h4{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
}

@media screen and (max-width:700px) {
    .text{
        width: 70%;
    }

    .links{
        display: none;
    }

    .text h1{
        font-size: 1.3rem;
    }
    .text p{
        font-size: 0.8rem;
    }

    .item img{
        width:80px;

    }

    .items{
        width:93%;
    }

    .item{
        width: 150px;
    }

    .hamburger{
        display: flex;
        margin-right: 50px;

    }

    .hamburger h4{
        font-size: 22px;
    }
}
